footer {
    background-color: #ffffff;
    color: #070707;
    padding: 1rem;
    margin-top: 15rem;
    text-align: center;
}

table {
    width: 90%;
    height: 300px;
    border-collapse: collapse;
    margin: 25px auto;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

tr:nth-child(odd) {
    background-color: #f3f3f3;
}
th {
    text-align: left;
    padding: 12px 15px;
}

tr:hover {
    background-color: #f5f5f5;
    transition: all 0.3s ease;
}

td {
    padding: 15px 20px;
    text-align: left;
    align-items: center;
    
}

.button {
   
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 16px;
    margin-bottom: 5px;
    width: 100px;
    height: 20px;
   
   
}
.button.progress {
    background-color: #44c910;
}
.button.progress:hover {
    background-color: #38a70d;
}
.button.open {
    background-color: #e5e912;
}
.button.open:hover {
    background-color: #c7c90d;
}
.button.on-hold {
    background-color: #1281e9;
}
.button.on-hold:hover {
    background-color: #0d66c7;
}
.button.closed {
    background-color: #e91212;
}
.button.closed:hover {
    background-color: #c70d0d;
}
