/*---------------------ejercicio 1------------------------------------*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background: 
    url('../img/topography.svg'),
    linear-gradient(to right, #db1818, #7b0b8a);
  background-size: cover;
  background-position: center;
  gap: 10px;
  padding: 10px;
}

[class^="item"] {
  background-color: rgb(228, 199, 38);
  border: 8px solid rgba(0,0,0,0.2);
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: 'Verdana', sans-serif;
  color: #000000;
  font-weight: bold;
}

.item6 {
  grid-column: 1 /span 6;
  grid-row: 2 /span 1;
  background-color: #1c52e7;
}

.item8 {
  grid-column: span 2;
  background-color: #e71c1c;
}

.item9 {
  grid-row:span 2;
  background-color: #15cc52;
}

.item12 {
  grid-column: 1 /span 6;
  grid-row: 3 /span 1;
  background-color: #1c52e7;
}

.item16 {
  grid-column: span 2;
  background-color: #e71c1c;
}

.item18 {
  grid-row: 4 / span 2;
  grid-column: 5 / span 6;
  background-color: #15cc52;
}

.item24 {
  grid-column: span 2;
  background-color: #e71c1c;
}

.item27 {
  grid-row:span 2;
  background-color: #15cc52;
} 


.item30 {
  background-color: #1c52e7;
  grid-row: 6 / span 1;
  grid-column: 5 / span 6;
}

.item32 {
  grid-column: span 2;
  background-color: #e71c1c
}

